.navbar-custom {
    background-color: white;
}

.navbar-brand {
    font-family: 'Overpass',sans-serif;
    color: #00bef0;
    font-size: 23px;
    padding: 0%;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #00bef0;
}

.nav-item {
    color: #1c0a14;
    font-family: 'Overpass',sans-serif;
}

.nav-link {
    color: #1c0a14;
}

.nav-link:focus, .nav-link:hover {
    color: #00bef0;
}